name: .NET
on:
  push:
    branches: [ develop ]
  workflow_dispatch:
permissions:
  contents: write
  id-token: write
  packages: write
jobs:
  build:
    if: github.repository == 'Rans4ckeR/CipherPunk'
    runs-on: windows-2025
    steps:
    - name: Checkout
      uses: actions/checkout@main
      with:
        fetch-depth: 0
    - name: Setup .NET Core SDK
      uses: actions/setup-dotnet@main
      with:
        dotnet-version: '10.x'
    - name: Install GitVersion
      uses: gittools/actions/gitversion/setup@main
      with:
        versionSpec: '6.x.x'
    - name: Determine Version
      uses: gittools/actions/gitversion/execute@main
    - name: Publish
      run: |
        dotnet publish CipherPunk.UI/CipherPunk.UI.csproj --no-self-contained --framework net10.0-windows --runtime win-x86 -p:PublishReadyToRun=true -p:PublishReadyToRunComposite=true -p:PublishSingleFile=true -p:DebugType=embedded -p:AssemblyVersion=$env:GitVersion_AssemblySemVer -p:FileVersion=$env:GitVersion_AssemblySemFileVer -p:InformationalVersion=$env:GitVersion_InformationalVersion
        dotnet publish CipherPunk.UI/CipherPunk.UI.csproj --no-self-contained --framework net10.0-windows --runtime win-x64 -p:PublishReadyToRun=true -p:PublishReadyToRunComposite=true -p:PublishSingleFile=true -p:DebugType=embedded -p:AssemblyVersion=$env:GitVersion_AssemblySemVer -p:FileVersion=$env:GitVersion_AssemblySemFileVer -p:InformationalVersion=$env:GitVersion_InformationalVersion
        dotnet publish CipherPunk.UI/CipherPunk.UI.csproj --no-self-contained --framework net10.0-windows --runtime win-arm64 -p:PublishReadyToRun=true -p:PublishReadyToRunComposite=true -p:PublishSingleFile=true -p:DebugType=embedded -p:AssemblyVersion=$env:GitVersion_AssemblySemVer -p:FileVersion=$env:GitVersion_AssemblySemFileVer -p:InformationalVersion=$env:GitVersion_InformationalVersion
    - name: Zip
      run: |
        7z a -r "${{ format('CipherPunk-v{0}-net10.0-windows-x86.zip', env.GitVersion_SemVer) }}" "./CipherPunk.UI/bin/Release/net10.0-windows/win-x86/publish/*.*" "-x!*.xml"
        7z a -r "${{ format('CipherPunk-v{0}-net10.0-windows-x64.zip', env.GitVersion_SemVer) }}" "./CipherPunk.UI/bin/Release/net10.0-windows/win-x64/publish/*.*" "-x!*.xml"
        7z a -r "${{ format('CipherPunk-v{0}-net10.0-windows-ARM64.zip', env.GitVersion_SemVer) }}" "./CipherPunk.UI/bin/Release/net10.0-windows/win-arm64/publish/*.*" "-x!*.xml"
    - name: Release
      run: gh release create v${{ env.GitVersion_SemVer }} (get-item *.zip) --generate-notes --target ${{ github.sha }} ${{ env.PreReleaseTag != '' && '--prerelease' || '' }}
      env:
        GH_TOKEN: ${{ github.token }}
    - name: Package
      run: dotnet pack CipherPunk/CipherPunk.csproj --no-restore -p:PackageVersion=$env:GitVersion_SemVer
    - name: NuGet Login
      uses: NuGet/login@v1
      id: login
      with:
        user: ${{ secrets.NUGET_USER }}
    - name: NuGet Push
      run: dotnet nuget push ${{ format('CipherPunk/bin/Release/CipherPunk.{0}.nupkg', env.GitVersion_SemVer) }} --api-key ${{ steps.login.outputs.NUGET_API_KEY }} --source https://api.nuget.org/v3/index.json
    - name: GitHub Push
      run: dotnet nuget push ${{ format('CipherPunk/bin/Release/CipherPunk.{0}.nupkg', env.GitVersion_SemVer) }} --api-key ${{ secrets.GITHUB_TOKEN }} --source https://nuget.pkg.github.com/Rans4ckeR/index.json
